<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

	<title>Django Bookmarks |
		{% block title %}{% endblock %}</title>
	<link rel="stylesheet" href="/site_media/bootstrap.min.css" type="text/css" />
	<script type="text/javascript" src= "/site_media/jquery.js" ></script>
	<script type="text/javascript" src= "/site_media/bootstrap.min.js" ></script>	
	{% block external %} {% endblock %}
</head>

<body>
	<br />
	<br />
	<br />
	<br />
	<div class="text-center" id="nav">
		<a href="/">home</a> |
		{% if user.is_authenticated %}
			<a href="/save/">submit</a> |
			<a href="/search/">search</a> |
			<a href="/user/{{ user.username }}/">
			{{ user.username }}</a> |
			(<a href="/logout">logout</a>)
		{% else %}
			<a href="/login/">login</a>
			<a href="/register/">register</a>
		{% endif %}
	</div>

<!--
	<ul class="nav nav-pills">
   		<li class="active"><a href="/">home</a></li>
   		{% if user.is_authenticated %}
   	 		<li><a href="/save/">submit</a></li>
   	 		<li><a href="/search/">search</a></li>
   	 		<li><a href="/user/{{ user.username }}/"></li>
   	 		<li>(<a href="/logout">logout</a>)
			{{ user.username }}</a></li>
   	 	{% else %}
  	 		<li><a href="/login/">login</a></li>
  	  		<li><a href="/register/">register</a></li>
  	  	{% endif %}
    </ul>
-->


	<a></a>
	<h1 class="text-center">{% block head %}{% endblock %}</h1>
	{% block content %}{% endblock %}
	<hr />
</body>
</html>